---
import Image from "astro/components/Image.astro";
import Layout from "../../layouts/Layout.astro";
import Nav from "../../sections/Nav.astro";
import Footer from "../../sections/Footer.astro";
import Whasap from "../../sections/whasap.astro";

import Mot from "../../../public/imgs/motocicleta.jpg";
import Tax from "../../../public/imgs/taxi.jpg";
import Par from "../../../public/imgs/particular.jpg";
import logue from "../../../public/imgs/logo.jpg";

---

<Layout  description="" title=" Revision Tecnicomecanica Ecoauto Tunja-Boyaca" title=" Cda ecoauto te hace saber precios de revisiones tecnicomecanica de vehiculos particulares, publicos y de servicio especial">
    <main class=" relative" >
        <Nav></Nav>
        <script>
           
			const mobilebtn = document.querySelector(".btn");
			const mobilmenu = document.querySelector("#menu");

			mobilebtn.addEventListener("click", () => {
				let show = document.querySelector(".show");

				if (show) {
					mobilmenu.classList.remove("show");
					mobilmenu.classList.add("menu");
				} else {
					mobilmenu.classList.add("show");
					mobilmenu.classList.remove("menu");
				}
			});
	
		</script>
        <Whasap></Whasap>
        <section class=" m-auto h-auto flex flex-col relative w-full" >
            <header class="bg-black w-full mt-10 h-[30rem] flex flex-col ">
                <h1 class=" text-fuchsia-50 pt-12 m-auto text-7xl items-center flex font-bold sm:text-6xl " >
                    Revision Tecnicomecanica
                </h1>
                <h3 class="m-auto -mt-32 text-4xl text-white sm:3xl" >5 Años Compartiendo Confianza y Seguridad</h3>
            </header> 
            <section class=" py-24 flex mx-20 items-center md:grid md:grid-cols-2 sm:flex sm:flex-col sm:m-auto sm:px-5 sm:py-28 sm:w-ful" >
                <di class=" relative rounded-2xl px-12 m-auto sm:mb-8 ">   
                    <div class=" w-full rounded-4xl overflow-hidden h-full  basis-1/3">
                        <Image title=" revision tecnicomecanica vehiculos particulares en cda ecoauto tunja" class="w-full overflow-hidden rounded-3xl hover:scale-110 transition-all" src={Par} alt="imagen de carro" ></Image>
                    </div>
                    <div class=" hover:scale-110 absolute  block top-0 rounded-full overflow-hidden w-[6rem]">
                        <Image title="logo cda ecoauto tunja" class="" src={logue} alt="logo cda ecoauto" ></Image>
                    </div>
                    <div class=" flex text-center items-center flex-col m-auto">
                        <h1 class=" m-auto w-full mb-5 font-bold text-3xl">RTM – Automóviles Particulares</h1>
                        <h4 class=" font-normal  text-gray-700 text-2xl" >Revisión técnico mecánica, Automovil particular</h4>
                        <span class=" font-semibold text-2xl">$284.155</span>
                    </div>
                </di>
                <di class=" relative rounded-2xl px-12  m-auto sm:mb-8 ">   
                    <div class=" w-full rounded-4xl overflow-hidden h-full  basis-1/3">
                        <Image title=" revision tecnicomecanica vehiculos de servicio publico en cda ecoauto tunja" class="w-full overflow-hidden rounded-xl hover:scale-110 transition-all" src={Tax} alt="imagen de carro" ></Image>
                    </div>
                    <div class=" hover:scale-110 absolute  block top-0 rounded-full overflow-hidden w-[6rem]">
                        <Image title="logo cda ecoauto tunja" class="" src={logue} alt="logo cda ecoauto" ></Image>
                    </div>
                    <div class=" flex text-center items-center flex-col m-auto">
                        <h1 class=" m-auto w-full mb-5 font-bold text-3xl">RTM – Automóviles Públicos</h1>
                        <h4 class=" font-normal  text-gray-700 text-2xl" >Revisión técnico mecánica, Automovil público</h4>
                        <span class=" font-semibold text-2xl">$283.455</span>
                    </div>
                </di>
                <di class=" relative rounded-2xl px-12  m-auto sm:mb-8 ">   
                    <div class=" w-full rounded-4xl overflow-hidden h-full  basis-1/3">
                        <Image title=" revision tecnicomecanica motocicletas en cda ecoauto tunja" class="w-full overflow-hidden rounded-xl hover:scale-110 transition-all" src={Mot} alt="imagen de carro" ></Image>
                    </div>
                    <div class=" hover:scale-110 absolute  block top-0 rounded-full overflow-hidden w-[6rem]">
                        <Image title="logo cda ecoauto tunja" class="" src={logue} alt="logo cda ecoauto" ></Image>
                    </div>
                    <div class=" flex text-center items-center flex-col m-auto">
                        <h1 class=" m-auto w-full mb-5 font-bold text-3xl">RTM – Motocicletas</h1>
                        <h4 class=" font-normal  text-gray-700 text-2xl" >Revisión técnico mecánica, Motocicletas</h4>
                        <span class=" font-semibold text-2xl">$192.000</span>
                    </div>
                </di>

        
            </section>
        </section>    
        <Footer></Footer>
    </main>
</Layout>